@model OMSIFYP.Models.Course

@{
    ViewBag.Title = "Delete";
}


<link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="~/css/multilpe-select.css">
<link type="text/css" rel="stylesheet" href="~/css/style.css">


<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="text-center">
                <div align="center"><p><h2>Delete Course</h2></p></div>

            </span>
        </div>
        <div class="panel-body">
            <table width="372" height="300" align="center">
                <tr>
                    <td>Course ID</td>
                    <td>@Html.DisplayFor(model => model.CourseID)</td>

                </tr>

                <tr>
                    <td width="147">Course Title</td>
                    <td width="209">@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <td>Credit Hours</td>
                    <td>@Html.DisplayFor(model => model.Credits)</td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>@Html.DisplayFor(model => model.Department.Name)</td>
                </tr>
                <tr>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <table width="985">




                            <tr>
                                <td width="124">
                                    @Html.ActionLink("Back to List", "Index", "Course", null, new { @class = "btn btn-warning btn-large" })
                                </td>
                                <td width="173">
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-danger" onclick="confirm('Are you sure you want to Delete Course ')">Delete Course</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }


                </tr>

            </table>

        </div>
    </div>
</div>


