@model OMSIFYP.Models.EnrollStudent

@{
    ViewBag.Title = "Enroll Students";
}

<link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="~/css/multilpe-select.css">
<link type="text/css" rel="stylesheet" href="~/css/style.css">




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()

    
<div class="row" align="center">
    <div class="panel panel-primary">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="panel-heading">
            <span class="text-center">

                <div align="center"><p><h2>Enroll Students</h2></p></div>
            </span>
        </div>
        <div class="panel-body">
            <table align="center" width="700" height="223" border="0">
                <tr>
                    <td width="175"><h4>Class Name:</h4></td>
                    <td width="438">
                        <h4>
                            <input name="GenrateClassID" value="@Session["classId"].ToString()" hidden />
                            <input value="@Session["className"].ToString()" class="form-control" readonly />
                        
                        </h4>
                    </td>
                </tr>
                <tr>
                    <td><h4>Class Section:</h4></td>
                    <td>
                        <h4>
                            <input value="@Session["classSec"].ToString()" class="form-control" readonly />                        </h4>
                    </td>
                </tr>
                <tr>
                    <td><h4>Student Name:</h4></td>
                    <td>
                        <h4>
                            @Html.DropDownList("StudentID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
                        </h4>
                    </td>
                </tr>

                <tr>
                    <td height="21">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td height="31" align="left">@Html.ActionLink("Back to list", "Index", "GenrateClasses", null, new { @class = "btn btn-warning btn-large" })</td>
                    <td align="right"><button type="submit"  class="btn btn-success" onclick="confirm('Are you sure you want to Enroll Student ')">Enroll Student</button></td>
                </tr>
            </table>

        </div>
    </div>
</div>

        
    }
    

</body>
</html>
